@use 'variables' as *;
@use 'sass:map';

:root {
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }
}

body {
  font-family: $ff-body;
  font-size: clamp(1rem, 1rem + 5vw, 1.125rem);
  line-height: 1.7;
  background-color: var(--purple-white);
}

h1,
h2,
h3,
h4 {
  font-family: $ff-headings;
}

@each $heading, $heading-details in $heading-fonts {
  $i: index($heading-fonts, $heading $heading-details);

  h#{$i} {
    font-size: #{map.get($heading-details, 'size')};
    font-weight: #{map.get($heading-details, 'weight')};
    line-height: #{map.get($heading-details, 'lineheight')};
  }
}

header,
section,
footer {
  padding-block: $spacer;
}

header {
  background-color: $clr-hero-bg;
  color: var(--white);
}

main {
  background-color: var(--white);
}

.curve {
  border-radius: 0 0 33% 33%;
}

.bg-dark {
  background-color: var(--purple);
  color: var(--white);
}

.bg-light {
  background-color: var(--purple-white);
}

.bg-white {
  background-color: var(--white);
}
