.cta {
  .container {
    display: flex;
    position: relative;
  }
}

.cta-img {
  width: 477px;
  aspect-ratio: 1;
  z-index: -1;
}

.cta-message {
  position: absolute;
  top: 40%;
  right: 0;
  width: 60%;
  padding: 3.3rem;
}
