@use './variables' as *;

.cta {
  .container {
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and (min-width: $breakpoint-2) {
      flex-direction: row;
    }
  }
}

.cta-img {
  width: 510px;
  padding: 2em;
  aspect-ratio: 1;
  margin-bottom: -4em;
  margin-inline: auto;

  @media screen and (min-width: $breakpoint-2) {
    margin-inline: 0;
  }
}

.cta-message {
  margin-inline: 2em;
  padding: 3.3rem;

  a {
    display: block;
    width: fit-content;
    margin-inline: auto;
  }

  @media screen and (min-width: $breakpoint-2) {
    position: absolute;
    top: 40%;
    right: 0;
    width: 60%;
  }
}

.cta-decorative-img {
  display: none;

  @media only screen and (min-width: $breakpoint-1) {
    display: block;
    position: absolute;
    top: 60%;
    right: 10%;
    z-index: 2;
  }
}
