@use './variables' as *;

.features-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  margin-top: 15em;
  padding-right: 2em;

  li {
    &::marker {
      content: '';
    }
  }
}

.features-list li {
  position: relative;
}

.feature-item__counter {
  position: static;
  left: -5rem;
  top: 50%;
  font-family: $ff-headings;
  font-weight: bold;
  font-size: 1.625rem;
  display: grid;
  place-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid currentColor;
  border-radius: 50%;
  color: var(--purple);
  text-align: center;
  margin-inline: auto;
  margin-bottom: 1em;
}

@media only screen and (min-width: $breakpoint-1) {
  .features-list {
    margin-left: 4em;
  }
  .feature-item__counter {
    position: absolute;
  }
}

@media only screen and (min-width: $breakpoint-2) {
  .features-list {
    flex-direction: row;
  }

  .feature-item__counter {
    position: static;
  }
}
