@use './variables' as *;

.features-list {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 2em;
  margin-top: 2em;

  li {
    &::marker {
      content: '';
    }
  }
}

.feature-item__counter {
  font-family: $ff-headings;
  font-weight: bold;
  font-size: 1.625rem;
  display: grid;
  place-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid currentColor;
  border-radius: 50%;
  color: var(--purple);
  text-align: center;
  margin-inline: auto;
  margin-bottom: 1em;
}
