@use './variables' as *;

.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-block: 4rem;
  background-image: url('../assets/images/bg-pattern-1.svg'),
    url('../assets/images/bg-pattern-2.svg');
  background-position: -13% 50%, 105% 50%;
  background-repeat: no-repeat;

  h1 {
    max-width: 13ch;
    margin-inline: auto;
  }

  em {
    font-style: normal;
    text-decoration: underline;
    text-decoration-color: $clr-button-bg;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
  }

  &__img {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vh / 2);
    z-index: 1;
  }
}
