$colors: (
  'purple': hsl(273 85% 13%),
  'green': hsl(150 100% 63%),
  'purple-light': hsl(271 12% 34%),
  'purple-white': hsl(276 100% 99%),
  'white': hsl(0 0% 100%),
);

$ff-body: 'Manrope', sans-serif;
$ff-headings: 'Frances 144', serif;

$lineheight-body: 1.77;
$fs-body: 1.125rem;

$heading-large-fs: 5rem;
$lineheight-large: 1;
$heading-large-weight: 500;

$animation-duration: 250ms;
$animation-easing-function: ease-in-out;

$breakpoint-1: 600px;
$breakpoint-2: 800px;

$spacer: 4rem;

$clr-hero-bg: #{map-get(
    $map: $colors,
    $key: 'purple',
  )};

$clr-button: #{map-get(
    $map: $colors,
    $key: 'purple',
  )};

$clr-button-bg: #{map-get(
    $map: $colors,
    $key: 'green',
  )};

$heading-fonts: (
  'large': (
    'size': clamp(3rem, 1rem + 5vw, 5rem),
    'weight': 500,
    'lineheight': 1,
  ),
  'medium': (
    'size': clamp(2rem, 1rem + 3vw, 3.5rem),
    'weight': 500,
    'lineheight': 1.14,
  ),
  'small': (
    'size': clamp(1rem, 1rem + 0.5vw, 2rem),
    'weight': 500,
    'lineheight': 1.25,
  ),
);
