/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Frances 144";
  src: url(./assets/fonts/fraunces/Fraunces-VariableFont.ttf) format("truetype");
}
@font-face {
  font-family: "Manrope";
  src: url(./assets/fonts/manrope/Manrope-VariableFont_wght.ttf) format("truetype");
}
:root {
  --purple: #24053d;
  --green: #42ffa1;
  --purple-light: #574c61;
  --purple-white: #fdfaff;
  --white: white;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: clamp(1rem, 1rem + 5vw, 1.125rem);
  line-height: 1.7;
  background-color: var(--purple-white);
}

h1,
h2,
h3,
h4 {
  font-family: "Frances 144", serif;
}

h1 {
  font-size: clamp(3rem, 1rem + 5vw, 5rem);
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: clamp(2rem, 1rem + 3vw, 3.5rem);
  font-weight: 500;
  line-height: 1.14;
}

h3 {
  font-size: clamp(1rem, 1rem + 0.5vw, 2rem);
  font-weight: 500;
  line-height: 1.25;
}

header,
section,
footer {
  padding-block: 4rem;
}

header {
  background-color: #24053d;
  color: var(--white);
}

main {
  background-color: var(--white);
}

.curve {
  background-image: radial-gradient(150% 100% at 50% 10%, var(--purple) 90%, var(--purple-white) 90%);
}
.curve--light {
  background-image: radial-gradient(150% 100% at 50% 10%, var(--purple-white) 90%, var(--white) 90%);
}

.bg-dark {
  background-color: var(--purple);
  color: var(--white);
}

.bg-light {
  background-color: var(--purple-white);
}

.bg-white {
  background-color: var(--white);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

header {
  background-image: none;
}

.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-block: 4rem;
}
.hero h1 {
  max-width: 13ch;
  margin-inline: auto;
}
.hero em {
  font-style: normal;
  text-decoration: underline;
  text-decoration-color: #42ffa1;
  text-decoration-thickness: 4px;
  text-underline-offset: 8px;
}
.hero__img {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  width: 50vh;
  z-index: 1;
  margin-inline: 1em;
}

@media only screen and (min-width: 600px) {
  header {
    background-image: url("../assets/images/bg-pattern-1.svg"), url("../assets/images/bg-pattern-2.svg");
    background-position: -13% 50%, 105% 50%;
    background-repeat: no-repeat;
  }
}
.features.curve {
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  margin-top: 15em;
  padding-right: 2em;
  padding-bottom: 10rem;
}
.features-list li::marker {
  content: "";
}

.features-list li {
  position: relative;
}

.feature-item__counter {
  position: static;
  left: -5rem;
  top: 50%;
  font-family: "Frances 144", serif;
  font-weight: bold;
  font-size: 1.625rem;
  display: grid;
  place-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid currentColor;
  border-radius: 50%;
  color: var(--purple);
  text-align: center;
  margin-inline: auto;
  margin-bottom: 1em;
}

@media only screen and (min-width: 600px) {
  .features-list {
    margin-left: 4em;
  }

  .feature-item__counter {
    position: absolute;
  }
}
@media only screen and (min-width: 800px) {
  .features-list {
    flex-direction: row;
  }

  .feature-item__counter {
    position: static;
  }
}
a.btn {
  display: inline-block;
  padding: 0.5em 1em;
  font-weight: bold;
  text-decoration: none;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
a.btn-primary {
  background-color: #42ffa1;
  color: #24053d;
  border: 2px solid #24053d;
}
a.btn-primary:hover {
  background-color: #24053d;
  color: #42ffa1;
  border-color: #42ffa1;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
a.btn-secondary {
  background-color: transparent;
  color: var(--white);
  border: 2px solid transparent;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #42ffa1;
}
a.btn-secondary:hover {
  color: #42ffa1;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.cta .container {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 800px) {
  .cta .container {
    flex-direction: row;
  }
}

.cta-img {
  width: 510px;
  padding: 2em;
  aspect-ratio: 1;
  margin-bottom: -4em;
  margin-inline: auto;
}
@media screen and (min-width: 800px) {
  .cta-img {
    margin-inline: 0;
  }
}

.cta-message {
  margin-inline: 2em;
  padding: 3.3rem;
}
.cta-message a {
  display: block;
  width: fit-content;
  margin-inline: auto;
}
@media screen and (min-width: 800px) {
  .cta-message {
    position: absolute;
    top: 40%;
    right: 0;
    width: 60%;
  }
}

.cta-decorative-img {
  display: none;
}
@media only screen and (min-width: 600px) {
  .cta-decorative-img {
    display: block;
    position: absolute;
    top: 60%;
    right: 10%;
    z-index: 2;
  }
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.social-links > * {
  height: 20px;
  aspect-ratio: 1;
}

footer {
  background-color: var(--white);
  padding: 8em;
}

footer .container > * {
  margin-inline: auto;
}

.flow > * + * {
  margin-top: 4rem;
}

.flow\:smallest > * + * {
  margin-top: 1rem;
}

.flow\:small > * + * {
  margin-top: 2rem;
}

.container {
  max-width: 1000px;
  margin-inline: auto;
}

/*# sourceMappingURL=style.css.map */
